node_modules
.next
npm-debug.log*
.git
.gitignore
.github
Dockerfile*
.dockerignore
docker-compose.yml
docker-entrypoint.dev.sh
.env*
*.md
*.log
.vscode
.idea
e2e
tests
coverage
.nyc_output
playwright.config.ts
vitest.config.ts
tsconfig.test.json
